#nav {
    display: none;
}

z {
    color: yellow;
}

#logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin: 20px 0;
}

#intro {
    font-family: 'Open Sans', sans-serif;
}

#intro-content {
    height: 57vw;
    padding: 13vw 0;
    text-align: center;
    background-color: #6f5499;
    color: #fff;
}

#down-arrow-div {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    cursor: pointer;
}

#intro-content h1 {
    padding: 20px 0 20px;
}

#intro-content h2 {
    padding-bottom: 10px;
}

#intro-content button {
    margin: 10px 0;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: none;
    text-shadow: none;
    border: 1px solid #fff;
    background: #6f5499;
    color: #fff;
}

#intro-content button:hover {
    background-color: #fff;
    color: #6f5499;
}

#perks {
    text-align: center;
    padding: 20px 0 40px;
}

#over-list {
    margin: 50px 0 20px;
    list-style: none;
}

#over-list li {
    display: inline;
    padding: 70px;
}

#perks img {
    padding: 20px;
    background-color: #6f5499;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    transition: .3s;
}

#perks table {
    margin: 40px 0 0;
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px;
}

#perks table tr h3 {
    font-size: 15px;
}

#perks img:hover {
    width: 120px;
    height: 120px;
    padding: 30px;
}

#def {
    padding: 20px 0 40px;
    text-align: center;
    background-color: #6f5499;
    color: #fff;
}
